
body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'merriweather', serif;
}
.cyn-ph {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

h1 {
    color: #66bfbf;
    font-size: 5.625rem;
    margin-top: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}

h2 {
    color: #66bfbf;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10%;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    padding-top: 10%;

}

p {
    line-height: 2;
}

hr {
    border: dotted #dddddd 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

a {
    color: #66bfbf;
    font-family: 'Montserrat', sans-serif; 
    margin: 10px 20px;
    text-decoration: none;

}

a:hover {
    color: #EAF6F6;
}
.top-container {
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    margin: 100px 0;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.bottom-container {
    background-color: #11999E;
    padding: 50px 0 20px;
}

.py {
    text-decoration: none;
}

 .top-cloud {
     position: absolute;
     right: 300px;
     top: 40px;
    
 }


 .bottom-cloud {
     position: absolute;
 }

 .web-dev {
    width: 200px;
    border-radius: 50%;
    height: 200px;
    float: left;
    margin-right: 30px;

 }

 .eventp {
    width: 200px;
    border-radius: 50%;
    height: 200px;
    float: right;
    margin-left: 30px;
 }

 .cake {
     width: 200px;
     border-radius: 50%;
     height: 200px;
     float: left;
     margin-right: 30px;
 }

 .intro {
     width: 30%;
     margin: auto;
 }

 .contact-me {
     width: 40%;
     margin: 60px auto 40px;
 }

 .copyright {
     color: #EAF6F6;
     font-size: 0.75rem;
     padding: 20px 0;
 }

 .btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999e);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999e);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999e);
    background-image: -o-linear-gradient(top, #11CDD4, #11999e);
    background-image: linear-gradient(to bottom, #11CDD4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Monserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2cb4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2cb4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2cb4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2cb4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2cb4ad);
    text-decoration: none;
  } .contact-me {
     width: 40%;
     margin: 40px auto 60px;
 }


